/*color:阴影颜色，16进制色，rgb色都支持
   radius：阴影圆角
   spread：阴影扩散大小或者长度
   offsetX：水平偏移度
   offsetY：垂直偏移度*/
/*-fx-font-style:italic*/
.label:hover{
    -fx-effect: dropshadow(three-pass-box, #cccccc, 20.0,0.6, 0, 0);
    -fx-background-radius: 2.0em;
    -fx-cursor: hand;
}
.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em;
    fx-background-color: #cccccc;
    -fx-text-fill: #828282;
}
.button:hover{
    -fx-effect: dropshadow(three-pass-box , #cccccc, 20, 0.6 , 2, 2);
    -fx-background-radius: 2.0em;
    -fx-cursor: hand;
}

.text-field{
    -fx-background-radius:15 15 15 15;
}
/*.chart-plot-background{
    -fx-background-color: #0000;
}*/


